include README.md
include LICENSE
include pyproject.toml
recursive-include src/p3if *.py
recursive-include data/domains *.json
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo





